{% load static %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Cinzel:wght@700&family=Dancing+Script:wght@400;700&family=Merriweather:wght@400;700&family=Montserrat:wght@400;700&family=Moon+Dance&family=Sacramento&family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
<title>Reseting Password</title>
<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}"/>
<style>
    body{
        margin: 20px;
        margin-left: 35px;
        background-color: #F8F1F1;
        color: black;
    }
    .pass_sent{
        font-size: 20px;
    }
    * {
        font-family: 'Montserrat', sans-serif;
    }
    h3{
        font-size: 37px;
        font-weight: 600;
        color: #19456B;
    }
</style>
<h3>Password reset sent</h3>

<p class="pass_sent">We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>

<p class="pass_sent">If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>