{% load static %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Cinzel:wght@700&family=Dancing+Script:wght@400;700&family=Merriweather:wght@400;700&family=Montserrat:wght@400;700&family=Moon+Dance&family=Sacramento&family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
<title>Reseting Password</title>
<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}"/>
<style>
    body{
        margin: 20px;
        margin-left: 35px;
        background-color: #F8F1F1;
        color: black;
    }
    .pass{
        font-size: 20px;
    }
    label{
        font-size: 20px;
    }
    input{
        width: 270px;
        height: 27px;
        font-size: 17px;
    }
    #sub{
        height: 38px;
        width: 78px;
        border-radius: 7px;
        border: none;
        background-color: #19456B;
        color: white;
        font-size: 14.5px;
        margin-top: 30px;
        cursor: pointer;
    }
    #sub:hover{
        background-color: #11698E;
        color: whitesmoke;
    }
    * {
        font-family: 'Montserrat', sans-serif;
    }
    h3{
        font-size: 37px;
        font-weight: 600;
        color: #19456B;
    }
</style>
<h3>Enter New Password</h3>

<p class="pass">Please enter your new password twice so we can verify you typed it in correctly.</p>

<form method="post">

    {% csrf_token %}
    {{form}}
    <br>
    <input type="Submit" name="Update Password" id="sub">

</form>