{% extends 'MainApp/main.html' %}
{% block style %} 

.formreset{
    display: flex;
    flex-direction: column;
    width: 490px;
    margin-left: 40px;
    margin-top: 20px;
}
.formedit{
    font-size: 20px;
}

.reg {
    margin: 2px;
    width: 300px;
    height: 27px;
    color: black;
    background-color: whitesmoke;
    border: 1px solid rgb(155, 153, 153);
    border-radius: 5px;
    font-size: 15px;
}
.btnsub{
    margin-top: 5px;
    background-color: green;
    color: white;
    border: 1px solid green;
    height:35px;
    width: 75px;
    font-size:18px;
    border-radius: 7px;
}

{% endblock style%}
{% block content %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
<div class="formreset">
<h2>Change password</h2>
<form action="{% url 'password_reset' %}" method="post" >
    {% csrf_token %}
    <label for="pass3" class="formedit">Enter current password: &nbsp;&nbsp;&nbsp;</label>
    <input class="reg" type="password" name="pass3" placeholder="Current password" required>
    <br>
    <br>
    <label for="pass3" class="formedit">Enter new password: &nbsp;&nbsp;&nbsp;</label>
    <input  class="reg"type="password" name="pass1" placeholder="New password" required>
    <br>
    <br>
    <label for="pass3" class="formedit">Confirm new password: &nbsp;&nbsp;&nbsp;</label>
    <input  class="reg"type="password" name="pass2" placeholder="Confirm new password" required>
    <br>
    <br>
    <button type="submit" class="btnsub">Submit</button>

</form>
</div>

{% endblock %}