{% load static %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Cinzel:wght@700&family=Dancing+Script:wght@400;700&family=Merriweather:wght@400;700&family=Montserrat:wght@400;700&family=Moon+Dance&family=Sacramento&family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
<title>Reseting Password</title>
<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}"/>
<style>
    body{
        margin: 20px;
        margin-left: 35px;
        background-color: #F8F1F1;
        color: black;
    }
    .pass{
        font-size: 20px;
    }

    #sub{
        height: 38px;
        width: 78px;
        border-radius: 7px;
        border: none;
        background-color: #19456B;
        color: white;
        font-size: 14.5px;
        cursor: pointer;
    }
    #sub:hover{
        background-color: #11698E;
        color: whitesmoke;
    }
    #log{
        text-decoration: none;
        color: white;
    }
    #log:hover{
        color: whitesmoke;
    }
    * {
        font-family: 'Montserrat', sans-serif;
    }
    h3{
        font-size: 37px;
        font-weight: 600;
        color: #19456B;
    }
    
</style>
<h3>Password reset complete</h3>

<p class="pass">Your password has been set!!!<br><br>You may go ahead and log in now.</p>
<br>

<button id="sub">
<a href="{% url 'login' %}" id="log">Login</a>
</button>   