{% extends 'MainApp/main.html' %}
{% block style %} 

h3{
    font-family: 'Montserrat', sans-serif;
    color:#19456B;
    font-size:2.2rem;
    {% comment %} font-weight:700; {% endcomment %}
}

.formreset{
    display: flex;
    flex-direction: column;
    width: 490px;
    margin-left: 40px;
    margin-top: 20px;
}
.formedit{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color:black;
}

.reg {
    margin: 2px;
    width: 300px;
    height: 35px;
    color: black;
    background-color: whitesmoke;
    border: 1px solid rgb(155, 153, 153);
    border-radius: 5px;
    font-size: 15px;
}
.btnsub{
    text-align: center;
    <!-- margin-top: 5px; -->
    height:28px;
    width: 92px;
    font-size:18px;
    border-radius: 7px;
    font-family: 'Montserrat', sans-serif;
    background-color:#05b67b;
    border-color:#05b67b;
}
input::placeholder{
    font-family: 'Montserrat', sans-serif;
}
.btn:hover{
    background-color:#079d6b;
    border-color:#079d6b;
}

{% endblock style%}
{% block content %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
<div class="formreset">
<h3><strong>Change password</strong></h3>
<form action="{% url 'password_reset' %}" method="post" >
    {% csrf_token %}
    <label for="pass3" class="formedit">Enter current password: &nbsp;&nbsp;&nbsp;</label>
    <input class="reg" type="password" name="pass3" placeholder="Current password" required>
    <br>
    <br>
    <label for="pass3" class="formedit">Enter new password: &nbsp;&nbsp;&nbsp;</label>
    <input  class="reg"type="password" name="pass1" placeholder="New password" required>
    <br>
    <br>
    <label for="pass3" class="formedit">Confirm new password: &nbsp;&nbsp;&nbsp;</label>
    <input  class="reg"type="password" name="pass2" placeholder="Confirm new password" required>
    <br>
    <br>
    <button type="submit" class="btn btn-success btnsub" style="text-align: center;">Submit</button>

</form>
</div>

{% endblock %}